<h1><%= t(:mutual_assistance_social_NET) %>!</h1>

<p><%= t(:about_text) %></p>

<p><%= t(:Creator_Alexandr_Piskunov_aka_Reachy_Carol) %></p>
<p><%= t(:Thanks_to_Evgenija) %>:)</p>
<p><%= t(:Thanks_to_music_bands_and_musicians) %></p>
<p><%= t(:Thanks_for_my_friends) %></p>
<p><%= t(:and_last_but_not_least) %></p>
<p><%= t(:Thanks_for_my_parents_and_my_aunt) %></p>
<br />
<p><%= t(:Russia_Samara_2013) %></p>
