<li>
  <p>
    <strong>Short description: </strong><%= need.short_description %>
  </p>

  <p>
    <strong>Sphere: </strong><%= need.sphere %>
  </p>
  
  <p>  
    <strong>Long description: </strong><%= need.long_description %>
  </p>
  
  <p>  
    <strong>Deadline: </strong><%= need.deadline %>
  </p>
  
  <% if need.executed? %>
    <p> 
	  <strong>Executed!</strong> 
	</p>
	
	<p>  
      <strong>Who executed:</strong> <%= need.who_executed %>
    </p>
	
	<p>  
      <strong>When executed: </strong><%= need.when_executed %>
    </p>
  <% end %>
  
  <% if current_user?(need.user) %>
    <%= link_to "edit", edit_need_path(need) %> |
    <%= link_to "delete", need, method: :delete,
                                     data: { confirm: "You sure?" } %>
  <% end %>
</li>