<%= form_for(@need) do |f| %>
  <p>
    <%= f.label :short_description %><br />
    <%= f.text_field :short_description %>
  </p>
  <p>
    <%= f.label :sphere %><br />
	<%= f.select :sphere, Need::SPHERE_TYPES %>
  </p>  
  <p>
    <%= f.label :long_description %><br />
	<%= f.text_area :long_description %>
  </p>	
  <p>
    <%= f.label :deadline %><br />
	<%= f.date_select :deadline %>
  </p>
    <%= f.label :executed %><br />
    <%= f.check_box :executed %>
  <br />
  <p>
  </p>
  <p>
    <%= f.label :who_executed %><br />
	<%= f.select :who_executed, @users %>
  </p>	
  <p>
    <%= f.label :when_executed %><br />
	<%= f.date_select :when_executed %>
  </p>
  <p>
    <%= f.submit "Update Need" %>
  </p>
<% end %>