<div class="row">
  <div class="span6 offset3">

<%= form_for @user, :html => {:multipart => true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login, t(:Login) + "*" %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password, t(:Password) + "*:" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t(:Password_Confirmation) + "*:" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :name, t(:Name) + "*:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname, t(:Surname) + ":" %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth, t(:Date_of_birth) + ":" %><br />
    <%= f.date_select :date_of_birth, order: [:day, :month, :year], start_year: 1900 %>
  </div>
  <div class="field">
    <%= f.label :country, t(:Country) + ":" %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :city, t(:City) + ":" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :education, t(:Education) + ":" %><br />
    <%= f.text_field :education %>
  </div>
  <div class="field">
    <%= f.label :member_of_volunteer_organizations, t(:Member_of_volunteer_organizations) + ":" %><br />
    <%= f.text_field :member_of_volunteer_organizations %>
  </div>
  <div class="field">
    <%= f.label :email, t(:Email) + "*:" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone_number, t(:Phone_number) + ":" %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :other_contacts, t(:Other_contacts) + ":" %><br />
    <%= f.text_field :other_contacts %>
  </div>
  <div class="actions">
    <%= f.submit t(:Sign_Up), class: "btn btn-large btn-primary" %>
  </div>
<% end %>
* <%= t(:fields_must_be_fill_in) %><br />

  </div>
</div>
