<h1><%= t(:Users) %></h1>

	<ul class="users">
		<% @users.each do |user| %>
		  <li>
		    <div class="row">
			  <aside class="span4">
				  <% if user.avatar_url != nil %>
				    <div class="small_avatar">
				      <%= image_tag user.avatar_url.to_s, size: "125x75" %>
					</div>
				  <% end %> 
				<%= link_to user.name + " " + user.surname, user %><br />
				<%= user.date_of_birth.to_s(:ru_datetime) %>
				<%= user.country %>
				<%= user.city %>
				<%= user.education %><br />
				<%= user.member_of_volunteer_organizations %><br />
				<%= user.email %>
				<%= user.phone_number %>
				<%= user.other_contacts %><br />

				<% if current_user.admin? && !current_user?(user) %>
				  <%= link_to t(:Destroy), user, method: :delete, data: { confirm: t(:Are_you_sure?) } %>
				<% end %>
			  </aside>
			  <div class="span8">
				<% if user.needs.any? %>
				  <strong><%= t(:I_need) %></strong><br />
				  <%= user.needs.first.short_description %>   <%= user.needs.first.sphere %><br />
				  <%= truncate(strip_tags(user.needs.first.long_description), length: 80) %> <br />
				<% end %>  
				<br />
				<% if user.cans.any? %>
				  <strong><%= t(:I_can) %></strong><br />
				  <%= user.cans.first.short_description %>   <%= user.cans.first.sphere %><br />
				  <%= truncate(strip_tags(user.cans.first.long_description), length: 80) %> <br />
				<% end %>  
			  </div>
			</div>
		  </li>	
	    <% end %>
	</ul>

