<h1>Users</h1>

	<ul class="users">
		<% @users.each do |user| %>
		  <li>
		    <div class="row">
			  <aside class="span4">
				<%= link_to user.name + " " + user.surname, user %><br />
				<%= user.date_of_birth %>
				<%= user.country %>
				<%= user.city %>
				<%= user.education %><br />
				<%= user.member_of_volunteer_organizations %><br />
				<%= user.email %>
				<%= user.phone_number %>
				<%= user.other_contacts %><br />

				<% if current_user.admin? && !current_user?(user) %>
				  <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			  </aside>
			  <div class="span8">
				<% if user.needs.any? %>
				  <%= user.needs.last.short_description %>   <%= user.needs.last.sphere %><br />
				  <%= truncate(strip_tags(user.needs.last.long_description), length: 80) %> <br />
				<% end %>  
				<br />
				<% if user.cans.any? %>
				  <%= user.cans.last.short_description %>   <%= user.cans.last.sphere %><br />
				  <%= truncate(strip_tags(user.cans.last.long_description), length: 80) %> <br />
				<% end %>  
			  </div>
			</div>
		  </li>	
	    <% end %>
	</ul>

