<div class="row">
  <aside class="span4">
    <section>

		<p id="notice"><%= notice %></p>

		<p>
		  <b>Name:</b>
		  <%= @user.name %>
		</p>

		<p>
		  <b>Surname:</b>
		  <%= @user.surname %>
		</p>

		<p>
		  <b>Date of birth:</b>
		  <%= @user.date_of_birth %>
		</p>

		<p>
		  <b>Country:</b>
		  <%= @user.country %>
		</p>

		<p>
		  <b>City:</b>
		  <%= @user.city %>
		</p>

		<p>
		  <b>Education:</b>
		  <%= @user.education %>
		</p>

		<p>
		  <b>Member of volunteer organizations:</b>
		  <%= @user.member_of_volunteer_organizations %>
		</p>

		<p>
		  <b>Email:</b>
		  <%= @user.email %>
		</p>

		<p>
		  <b>Phone number:</b>
		  <%= @user.phone_number %>
		</p>

		<p>
		  <b>Other contacts:</b>
		  <%= @user.other_contacts %>
		</p>
		
		<%= link_to 'Create Can', new_can_path %> |
		<%= link_to 'Create Need', new_need_path %> |
		<%= link_to 'Edit Profile', edit_user_path(@user) %>

	</section>
  </aside>

  <div class="span8">

		<h3>I need:</h3>
		<% if @user.needs.any? %>
		  <ol class="cans-needs">
			<%= render @needs %>
		  </ol>
		<% end %>

		<h3>I can:</h3>
		<% if @user.cans.any? %>
		  <ol class="cans-needs">
			<%= render @cans %>
		  </ol>
		<% end %>

  </div>
</div>
