<div class="row">
  <aside class="span4">
    <section>

		<p id="notice"><%= notice %></p>

		<p>
		  <b><%= t(:Name)  %></b>
		  <%= @user.name %>
		</p>

		<p>
		  <b><%= t(:Surname) %></b>
		  <%= @user.surname %>
		</p>

		<p>
		  <b><%= t(:Date_of_birth) %></b>
		  <%= @user.date_of_birth.to_s(:ru_datetime) %>
		</p>

		<p>
		  <b><%= t(:Country) %></b>
		  <%= @user.country %>
		</p>

		<p>
		  <b><%= t(:City) %></b>
		  <%= @user.city %>
		</p>

		<p>
		  <b><%= t(:Education) %></b>
		  <%= @user.education %>
		</p>

		<p>
		  <b><%= t(:Member_of_volunteer_organizations) %></b>
		  <%= @user.member_of_volunteer_organizations %>
		</p>

		<p>
		  <b><%= t(:Email) %></b>
		  <%= @user.email %>
		</p>

		<p>
		  <b><%= t(:Phone_number) %></b>
		  <%= @user.phone_number %>
		</p>

		<p>
		  <b><%= t(:Other_contacts) %></b>
		  <%= @user.other_contacts %>
		</p>
		
		<%= link_to t(:Create_Can), new_can_path %> |
		<%= link_to t(:Create_Need), new_need_path %> |
		<%= link_to t(:Edit_Profile), edit_user_path(@user) %>

	</section>
  </aside>

  <div class="span8">

		<h3><%= t(:I_need) %></h3>
		<% if @user.needs.any? %>
		  <ol class="cans-needs">
			<%= render @needs %>
		  </ol>
		<% end %>

		<h3><%= t(:I_can) %></h3>
		<% if @user.cans.any? %>
		  <ol class="cans-needs">
			<%= render @cans %>
		  </ol>
		<% end %>

  </div>
</div>
