<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @user.surname %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @user.date_of_birth %>
</p>

<p>
  <b>Country:</b>
  <%= @user.country %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>Education:</b>
  <%= @user.education %>
</p>

<p>
  <b>Member of volunteer organizations:</b>
  <%= @user.member_of_volunteer_organizations %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>

<p>
  <b>Other contacts:</b>
  <%= @user.other_contacts %>
</p>

<h3>I need:</h3>
<% if @user.needs.any? %>
  <ol>
    <%= render @needs %>
  </ol>
<% end %>

<h3>I can:</h3>
<% if @user.cans.any? %>
  <ol>
    <%= render @cans %>
  </ol>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
