<% if params[:mode] %>
  <h2><%= params[:mode] %></h2>
<% end %>  

	<ul class="users">
		<% @records.each do |record| %>
		  <li>
		    <div class="row">
			  <aside class="span4">
				<%= link_to record.user.name + " " + record.user.surname, record.user %><br />
				<%= record.user.date_of_birth.to_s(:ru_datetime) %>
				<%= record.user.country %>
				<%= record.user.city %>
				<%= record.user.education %><br />
				<%= record.user.member_of_volunteer_organizations %><br />
				<%= record.user.email %>
				<%= record.user.phone_number %>
				<%= record.user.other_contacts %><br />
			  </aside>
			  <div class="span8">
				  <%= record.short_description %>   <%= record.sphere %><br />
				  <%= record.long_description %> <br />
				<br />
			  </div>
			</div>
		  </li>	
	    <% end %>
	</ul>

