<li>
  <p>
    <strong>Short description: </strong><%= can.short_description %>
  </p>
  
  <p>
    <strong>Sphere: </strong><%= can.sphere %>
  </p>

  <p>  
    <strong>Long description: </strong><%= can.long_description %>
  </p>
  <% if current_user?(can.user) %>
    <%= link_to "edit", edit_can_path(can) %> |
    <%= link_to "delete", can, method: :delete,
                                     data: { confirm: "You sure?" } %>
  <% end %>
</li>