<li>
  <p>
    <strong><%= t(:Short_description) %> </strong><%= can.short_description %>
  </p>
  
  <p>
    <strong><%= t(:Sphere) %></strong> <%= can.sphere %>
  </p>

  <p>  
    <strong><%= t(:Long_description) %> </strong><%= can.long_description %>
  </p>
  <% if current_user?(can.user) %>
    <%= link_to t(:edit), edit_can_path(can) %> |
    <%= link_to t(:delete), can, method: :delete,
                                     data: { confirm: t(:Are_you_sure?) } %>
  <% end %>
</li>