<%= form_for(@can) do |f| %>
  <p>
    <%= f.label :short_description, t(:short_description) %><br />
    <%= f.text_field :short_description %>
  </p>	
  <p>
    <%= f.label :sphere, t(:sphere) %><br />
	<%= f.select :sphere, Need::I18n.translate(:SPHERE_TYPES) %>
  </p> 
  <p>
    <%= f.label :long_description, t(:long_description) %><br />
	<%= f.text_area :long_description %>
  </p>	
  <p>
    <%= f.submit t(:Update_Can), class: "btn btn-large btn-primary"  %>
  </p>
<% end %>