<!DOCTYPE html>
<html>
<head>
  <title>MutualAidSocialNetwork</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

<%= render 'layouts/header' %>

<div>
	  <%= render 'layouts/search' %>
</div>

<div class="container">
  <%= yield %>
<div>  

<%= render 'layouts/footer' %>

<% if Rails.env.development? && current_user %>
  <%= current_user.id %>
  <%= current_user.login %>
  <%= current_user.remember_token %>
  <%= debug(params) %>
<% end %>

</body>
</html>
