<!DOCTYPE html>
<html>
<head>
  <title>MutualAidSocialNetwork</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= current_user.id %>
<%= current_user.login %>
<%= current_user.remember_token %>


</body>
</html>
